# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/api/soap/wsdl.xml
/api/soap/logs/
/api/soap/runtime/
/api/soap/config/main-local.php
/api/soap/test/runtime/
/api/soap/test/config/main-local.php

/frontend/web/assets
/frontend/web/assets/
/frontend/web/tmp/
/frontend/logs/
/frontend/logs

/backend/web/assets
/backend/web/assets/

/console/data/
/console/logs/
/console/logs

/common/tmp/

.htaccess