
.autocomplete__widget_block{
    position: relative;
}


    
    .autocomplete_data{
        position: absolute;
        display: none;
        min-height: 100px;
        max-height: 200px;
        border-radius: 3px;
        z-index: 1000;
        width: 100%;
        min-width: 250px;
    }

        .autocomplete_items{
            position: absolute;
            z-index: 199;
            min-height: 100px;
            max-height: 200px;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0px;
            padding: 0px;
            background: #fff;
            border: 1px solid #a4b9ca;
            z-index: 1001;
        }

            .autocomplete_items li{
                list-style: none;
                cursor: pointer;
                padding: 2px 5px;
			    border-bottom: 1px solid #a4b9ca;
            }
            
            .autocomplete_items li:last-child{
    			border-bottom: none;
    		}
            
		
            .autocomplete_items li:hover{
                background:#3b98de;
    			color: #fff;
            }


.reset_autocomplete{
    position: absolute;
    top: 5px;
    right: 6px;
    text-transform: none;
    cursor: pointer;
    font-weight: bold;
    color: #a94442;
}

.reset_autocomplete.withLabel{
    top: 30px;
}