/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/* стили */
	.navbar-top-links {
	    margin-right: 6px;
	}

	.raports_list {
	    margin-right: 13px;
	    margin-left: -15px;
	}

	.pipeline > div:after {
	    right: -18px;
	}

	.pipeline{

	}
		.pipeline:after{
			content: "";
			display: block;
			clear: both;
		}

		.pipeline > div{
			float: left;
			width: 25%;
			font-size: 10px;
		}

			.pipeline > div:after {
			    border: none;
			    height: 34px;
			    width: 34px;
			    top: 0px;
			    right: -10px;
			    transform: rotate(0.125turn);
			    z-index: 20;
			    background: blue;
			}

	.paddingLess{
		padding-left: -15px;
		padding-right: -15px;
	}
}