@media (min-width: 768px) and (max-width: 1130px){
	.sidebar {
	    width: 165px;
	}

	#page-wrapper{
		margin: 0 0 0 165px;
		padding: 0 10px;
	}

	#page-wrapper > .row,#page-wrapper > form  .row{
		margin-left: -13px;
	}

	.page-header {
    	padding-bottom: 5px;
    	margin: 9px 0 28px;
	}

	.raports_list{
		margin-right: 0px;
    	margin-left: -15px;
	}

	.backlink a{
	    margin-top: 0px;
	    margin-bottom: 10px;
	}
}